<ul class="nav nav-list">
    <center><a href="https://tacoapp.com/"><img src="{{site.url}}/assets/images/taco-circle-64x64.png" style="margin-bottom: 40px; border: 0"></a></center>
    <li class=nav-header>{{ label }}</li>
      <li><a href="{{ site.baseurl }}/">Taco Help</a></li>
      <li><a href="{{ site.codeurl }}/">Taco</a></li>

    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if forloop.first %}
                <li class=nav-header>{{ label }}</li>
            {% endif %}
            {% if page.title == "Quick Start" %}
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#connectors">Connect services</a></li>
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#prioritize">Prioritize</a></li>
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#filter">Filter by project, list, or due date</a></li>

              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#details">See details</a></li>
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#edit">Edit tasks</a></li>
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#complete">Mark complete</a></li>

              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#refresh">Refresh data</a></li>
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}#themes">Add your logo</a></li>
            {% else %}
              <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
